Package: youtube-viewer
Version: 3.8.1-0
Architecture: all
Maintainer: fredx181
Installed-Size: 1100
Depends: perl, libjson-perl, libjson-xs-perl, libdata-dump-perl, libfile-sharedir-perl, libgtk3-perl, libwww-perl, libterm-readline-gnu-perl, mpv | vlc, python2, curl 
Suggests: gcap, liblwp-protocol-https-perl, libtext-charwidth-perl, libterm-readkey-perl, libterm-ui-perl, wget
Conflicts: straw-viewer
Replaces: straw-viewer
Recommends: youtube-get2
Section: perl
Priority: optional
Homepage: https://github.com/trizen/youtube-viewer
Description: A Gtk2 application for searching and streaming videos from YouTube.
 WWW-YoutubeViewer - a very easy interface to YouTube.
 Highly recommended: install mpv or vlc mediaplayer and youtube-get2 (includes youtube-dl) to be able to play all videos without exceptions.




































